/* ページ内リンクの挙動をゆっくりにする */

html { scroll-behavior: smooth;}


.body {
    background: linear-gradient(#315166, #162735);
    z-index: 1;
}

/* main */

.main {
    width: auto;
    height: auto;
    z-index: 1;
    margin: 0 auto;
}

/* main-top */

.main-top {
    text-align: center;
    padding-top: 49px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;
}
@media screen and (max-width:960px){
    .main-top {
        padding-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:520px){
    .main-top {
        padding-top: 25px;
        margin-bottom: 25px;
    }
}

.main-top h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    /* padding-top: 89px; */
}
@media screen and (max-width:960px){
    .main-top h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:520px){
    .main-top h2 {
        font-size: 17px;
    }
}

.lemon {
    height: 80px;
}

@media screen and (max-width:1100px){
    .lemon {
        height: 50px;
    }
}

@media screen and (max-width:960px){
    .lemon {
        height: 40px;
    }
}

/* form */
.input-form-outside {
    width: 1050px;
    height: 1130px;
    background: linear-gradient(#359FAD, #1B5057);
    z-index: 10;
    margin: 0 auto;
    padding-top: 42px;
}
@media screen and (max-width:1100px){
    .input-form-outside {
        width: auto;
        margin: 0 30px;
    }
}
@media screen and (max-width:960px){
    .input-form-outside {
        padding: 20px 0;
        height: 100%;

    }
}

.input-form {
    width: 970px;
    height: 1040px;
    background-color: #D4E5E8;
    text-align: center;
    z-index: 20;
    margin: 0 auto;
}
@media screen and (max-width:1100px){
    .input-form {
        width: auto;
        margin: 0 40px;
    }
}
@media screen and (max-width:960px){
    .input-form {
        width: auto;
        margin: 0 20px;
        height: 100%;
    }
}

/* form-top */

.form-top {
    width: 100%;
    height: 510px;
    display: flex;
    z-index: 30;
    margin: 0 auto;
}

@media screen and (max-width:960px){
    .form-top{
        flex-direction: column;
        height: auto;
        width: auto;
    }
}

.top-left {
    width: 41%;
    height: 510px;
}

@media screen and (max-width:1100px){
    .top-left{
        width: 50%;
    }
}
@media screen and (max-width:960px){
    .top-left{
        width: auto;
        height: 420px;
    }
}

.top-left-container {
    width: auto;
}

.preview {
    width: 261px;
    height: 377px;
    margin: 0 auto;
    margin-top: 57px;
}
@media screen and (max-width:1100px){
    .preview {
        width: 220px;
        height: 310px;
    }
}
@media screen and (max-width:520px){
    .preview {
        width: 190px;
        height: 270px;
    }
}
@media screen and (max-width:520px){
    .preview {
        margin-top: 30px;
    }
}

.top-right {
    width: 59%;
}
@media screen and (max-width:1100px){
    .top-right {
        width: 50%;
        margin-right: 85px;
    }
}
@media screen and (max-width:960px){
    .top-right {
        width: auto;
        margin: 0 50px;
    }
}
@media screen and (max-width:520px){
    .top-right {
        margin: 0;
    }
}

.top-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 470px;
}

@media screen and (max-width:1100px){
    .top-right-container {
        width: auto;
    }
}
@media screen and (max-width:960px){
    .top-right-container {
        width: 350px;
        margin: 0 auto;
    }
}
@media screen and (max-width:520px){
    .top-right-container {
        width: 220px;
    }
}

.top-right label {
    padding: auto, 0;
}

@media screen and (max-width:960px){
    .top-right label {
        font-size: 20px;
    }
}
@media screen and (max-width:520px){
    .top-right label {
        font-size: 15px;
    }
}

.top-right input {
    width: 353px;
    font-size: 19px;
}

.date input {
    height: 37px;
    background-color: #D4E5E8;
    border: solid 2px #BAA68B;
    text-align: left;
}

.name input, .base input, .taste input {
    height: 33px;
    background-color: #D4E5E8;
    border: solid 2px #BAA68B;
}
@media screen and (max-width:1100px){
    .date input, .name input, .base input, .taste input  {
        width: 250px;
        height: 33px;
        font-size: 16px;
    }
} 
@media screen and (max-width:960px){
    .date input, .name input, .base input, .taste input  {
        width: 220px;
        font-size: 15px;
    }
} 
@media screen and (max-width:520px){
    .date input, .name input, .base input, .taste input  {
        width: 190px;
        font-size: 13px;
    }
} 

.featuru textarea {
    width: 353px;
    height: 112px;
    font-size: 19px;
    background-color: #D4E5E8;
    border: solid 2px #BAA68B;
}
@media screen and (max-width:1100px){
    .featuru textarea {
        width: 250px;
        font-size: 16px;
    }
}
@media screen and (max-width:960px){
    .featuru textarea {
        width: 220px;
        font-size: 15px;
    }
}
@media screen and (max-width:520px){
    .featuru textarea {
        width: 190px;
        font-size: 13px;
    }
}

.date, .name, .base, .taste, .featuru {
    font-size: 23px;
    color: #00577C;
    text-align: left;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
@media screen and (max-width:520px){
    .date, .name, .base, .taste, .featuru {
        flex-direction: column;
        margin-top: 20px;
    }
}



/* form-middle */

.form-middle, .form-bottom {
    width: auto;
    height: auto;
    margin: 0 85px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:960px){
    .form-middle, .form-bottom {
        width: 350px;
        margin: 30px auto 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width:520px){
    .form-middle, .form-bottom {
        width: 220px;
        flex-direction: column;
        margin-top: 20px;
    }
}

.form-middle h4, .form-bottom h4 {
    font-size: 22px;
    color: #00577C;
    text-align: left;
    margin-top: 15px;
}

@media screen and (max-width:1100px){
    .form-middle h4, .form-bottom h4 {
        font-size: 20px;
    }
}
@media screen and (max-width:960px){
    .form-middle h4, .form-bottom h4 {
        margin-left: 19px;
    }
}
@media screen and (max-width:960px){
    .form-middle h4, .form-bottom h4 {
        font-size: 15px;
    }
}

.form-bottom textarea, .form-middle textarea {
    width: 755px;
    height: 140px;
    font-size: 19px;
    background-color: #D4E5E8;
    border: solid 2px #BAA68B;
}

@media screen and (max-width:1100px){
    .form-bottom textarea, .form-middle textarea {
        width: 100%;
        font-size: 16px;
    }
}
@media screen and (max-width:960px){
    .form-bottom textarea, .form-middle textarea {
        width: 220px;
        font-size: 15px;
    }
}
@media screen and (max-width:520px){
    .form-bottom textarea, .form-middle textarea {
        width: 190px;
        font-size: 13px;
    }
}


/* 登録ボタン */

.register-derete {
    display: flex;
    justify-content: center;
}

.register-btn {
    width: 158px;
    height: 40px;
    background-color: #1A4D6F;
    font-size: 19px;
    color: white;
    margin-top: 24px;
    transition: all 0.3s;
}

@media screen and (max-width:1100px){
    .register-btn {
        width: 130px;
        height: 32px;
        font-size: 17px;
    }
}
@media screen and (max-width:960px){
    .register-btn {
        width: 120px;
        height: 28px;
        margin: 30px 0;
        font-size: 16px;
    }
}
@media screen and (max-width:520px){
    .register-btn {
        width: 100px;
        height: 24px;
        font-size: 12px;
    }
}

.register-btn:hover {
    background-color: #1a4d6fcc;
}

/* 削除ボタン */

.derete-btn {
    width: 158px;
    height: 40px;
    background-color: #BC4B4B;
    font-size: 19px;
    color: white;
    margin: 24px 10px 0 10px;
    transition: all 0.3s;
}
@media screen and (max-width:1100px){
    .derete-btn {
        width: 130px;
        height: 32px;
        font-size: 17px;
    }
}
@media screen and (max-width:960px){
    .derete-btn {
        width: 120px;
        height: 28px;
        margin: 30px 0;
        font-size: 16px;
    }
}
@media screen and (max-width:520px){
    .derete-btn {
        width: 100px;
        height: 24px;
        font-size: 12px;
    }
}

.derete-btn:hover {
    background-color: #bc4b4bd8;
}

/* 思い出一覧 */

.memory {
    width: 100%;

}

.memory-list {
    display: block;
    text-align: center;
    margin: 100px 0;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}
@media screen and (max-width:520px){
    .memory-list{
        margin: 60px 0;
    }
}

.memory-list:hover {
  opacity: 0.9;
}

