@charset "utf-8";

/* レイアウト */
@font-face {
    font-family: "03SmartFontUI";
    src: url("../fonts/03SmartFontUI.ttf");
}
@font-face {
    font-family: "せのびレギュラー";
    src: url("../fonts/Senobi-Gothic-Regular\ 20.58.13.ttf");
}
@font-face {
    font-family: "せのびゴシック";
    src: url("../fonts/Senobi-Gothic-Bold.ttf");
}
.container-bg {
    position: relative;
    background: linear-gradient(#355469 0%, #1b2a35 100%);
}
.container-bg::after {
    content: "";
    position: absolute;
    /* top: 245px; */
    width: 400px;
    top: 150px;
    height: 1px;
    border-bottom: 1px solid #fff;
}
@media (min-width: 1550px) {
    .container-bg::after {
        top: 170px;
        width: 480px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
        padding: 0;
    }
}
@media (min-width: 1550px) {
    .container {
        max-width: 1525px;
    }
}

/* ------------ header ------------ */
.header {
    width: 100%;
    height: 100px;
}

/* ------------ main ------------ */
/* --------------------------------
          main-top
-------------------------------- */
.main-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
}
@media (min-width: 1550px) {
    .main-top {
        padding-top: 101px;
    }
}
.main-top::after {
    /* content: url(../img/record-list_cocktail.png); */
    position: absolute;
    /* top: 97px;
    right: 55px; */
}
@media (min-width: 1550px) {
    .main-top::after {
        content: url(../img/record-list_cocktail-1600.png);
        top: 190px;
        right: 72px;
    }
}
.main-top-left h1 {
    padding-top: 11px;
    padding-left: 12px;
    font-size: 30px;
    color: #fff;
}
@media (min-width: 1550px) {
    .main-top-left h1 {
        font-size: 33px;
        padding-left: 21px;
    }
}
@media (min-width: 1100px) {
    .main-top-left h1 {
        font-size: 28px;
        padding-left: 19px;
    }
}

.creat-jump{
    text-align: right;
}

.main-top-right .memories-record{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    font-family: "せのびレギュラー";
    background-color: rgba(109, 106, 99, 0.68);
}
.main-top-right .memories-record:hover {
    background-color: rgba(145, 141, 133, 0.68);
}

/*--------------------------------
            .cards
-------------------------------- */
.cards {
    margin-top: 41px;
}
.row {
    max-width: 1100px;
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto !important;
}
@media (min-width: 1550px) {
    .row {
        max-width: 1220px;
    }
}
.row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.9);
    padding-left: calc(var(--bs-gutter-x) * 0.6);
}
.row a {
    color: #fff;
    text-decoration: none;
}
.row a:nth-child(n + 5) {
    margin-top: 57px;
}
.card {
    position: relative;
    height: 290px;
    border: none !important;
    border-radius: 49px !important;
}
@media (min-width: 1550px) {
    .card {
        height: 325px;
    }
}
.card:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
}
.card-img {
    height: 100%;
    background-size: cover;
    border-radius: 38px !important;
}
@media (max-width: 760px) {
    .card-img {
        height: auto;
        max-height: 700px;
    }
}
.card-body {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 0 !important;
    text-align: center;
    background: linear-gradient(#baa68b 0%, #5d5346 100%);
    border-radius: 0px 0px 38px 38px !important;
    color: #fff;
}
.card-title {
    margin-top: 12px;
    margin-bottom: 9px;
    font-family: "03SmartFontUI";
    font-size: 19px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1550px) {
    .card-title {
        margin-top: 10px;
        font-size: 22px;
    }
}
.card-date {
    margin-bottom: 0;
    font-family: "Noto Serif Myanmar";
    font-size: 14px;
}
@media (min-width: 1550px) {
    .card-date {
        font-size: 15px;
    }
}

/* --------------------------------
          .page-top-btn
-------------------------------- */
.page-top-btn {
    padding-top: 100px;
    padding-bottom: 55px;
}
@media (min-width: 1550px) {
    .page-top-btn {
        padding-top: 120px;
        padding-bottom: 75px;
    }
}
.page-top-btn a {
    display: block;
    color: #fce4e7;
    text-align: center;
    margin-top: 2px;
    border: 3px solid #fce4e7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
/* .page-top-btn a:hover{
    color: royalblue;
} */

.page-top-btn .fas {
    font-size: 29px;
}
